# Copier ce fichier vers secrets.yaml et remplir avec vos valeurs
wifi_ssid: "VotreSSID"
wifi_password: "VotreMotDePasse"
ap_password: "MotDePasseAP-8car-min"
ota_password: "MotDePasseOTA"
web_password: "MotDePasseWeb"
# Générer avec : openssl rand -base64 32
api_key: "REMPLACER_PAR_UNE_CLE_BASE64_DE_32_OCTETS"
